body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.content {
    flex: 8;
    display: flex;
    transition: 0.5s;
    background: linear-gradient(to bottom, rgba(148, 147, 147, 0.49), rgba(255, 255, 255, 0.49));
}
.cards {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(148, 147, 147, 0.49), rgba(255, 255, 255, 0.49));
}
.card {
    padding: 10px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.73);
    background-color: skyblue;
    width: 500px;
    height: 250px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(200px);
    transition: all 0.5s;
    overflow: hidden;
}
.card:first-child {
    margin-left: 0;
}

.weather {
    height: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
}
.icon {
    width: 100%;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon > img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.location {
    margin: 0;
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}
.script {
    width: 100%;
    margin: 0;
    flex: 6;
    display: flex;
    flex-direction: column;
}
.script > p {
    flex: 1;
    margin-left: 30px;
}

.today {
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time {
    width: 500px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 100px;
    font-weight: bold
}
.search {
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 300px;
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search > input {
    width: 90%;
    height: 100%;
    margin-right: 20px;
    color: #5b5b5b;
    border: none;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
}
.search > input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /*placeholder 지우기*/
}
.search > button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}
.search > button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.calender > header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.calender > header > button {
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.calender > header > button:first-child {
    margin-right: 20px;
}
.calender > header > button:last-child {
    margin-left: 20px;
}
#currentDate {
    line-height: 25px;
}
.calender > table {
    margin-top: 20px;
}

.todoList {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    border: none;
    width: 100%;
    height: 500px;
    transform: translateX(70%);
    transition: all 0.5s;
}
.list > h1 {
    font-size: 2em;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 50px;
    line-height: 50px;
}
.list > ul {
    margin: 0;
    list-style: disc;
    padding: 0;
    flex: 1;
    overflow: scroll;
}
.list > ul > li {
    font-size: 1.5em;
    margin-bottom: 20px;
    line-height: 50px;
}
.list:hover {
    transform: translateX(-10%);
    border: none;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.73);
}
a:hover {
    color: white;
}